# Compiled class files
*.class

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.atomic

# Gradle
.gradle
build/

# macOS
.DS_Store

# VS Code
.vscode/
*.code-workspace
